*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
.ourtrainers{
	font-size:40px;
	text-align:center;
	margin-top:0px;
	color:white;
	background-color:grey;
	height:150px;
	padding:10px;
	
}
.ourDieticians{
	font-size:40px;
	text-align:center;
	margin-top:500px;
	color:white;
	background-color:grey;
	height:150px;
	padding:10px;
	
}
header{
	background-color:grey;
	
	
}
body{
	background-color: #EAEDED;
}
.galleryOuter{
	width:55%;
	margin:auto;
}
div.gallery {
  margin: 100px 10px;
  border: 1px solid #ccc;
  width: 180px;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
 
}
.gallery{
	float:left;
	margin-left:25%;
	border-radius:20%;
}
h1{
	color:grey;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
  border-width: 2px;
}
footer{
	margin-left:40px;
	margin-top:320px;
}


.header{
    position:fixed;
    top:-20px;
    width: 100%;
    background: white;
}
li a button{
	font-size:30px;
	font-weight:500;
	color:#edf0f1;
	text-decoration:none;
}
header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:15px;
}
.logo{
	cursor:pointer;
    margin-top: 15px;
	float:left;
	
}
.nav_links{
	list-style:none;
	margin:20px;
}
.nav_links li{
	display:inline-block;
	padding:10px 0px;

}
.nav_links li a{
	transition:all 0.3s ease 0s;
	text-decoration:none;
	font-size:20pt;
	padding: 9px 25px;
	border:none;
	border-radius:50px;
    color: black;
}
.nav_links li a:hover{
	
	color:white;
	background-color:black;
}
.foot{
    text-align: center;
}

@media only screen and (max-width: 1470px) {
.galleryOuter{
	width:90%;
	margin:auto;
}
}
